/var/log/{{ podservice_identifier }}/{{ podservice_identifier }}.log {
    daily
    rotate {{ podservice_log_days_keep }}
    compress
    shred
    postrotate
      /usr/bin/pkill -HUP rsyslogd
    endscript
}
