[Unit]
Description="{{ podservice_description }}"

[Service]
Type=simple
WorkingDirectory=/opt/{{ podservice_identifier }}
ExecStart=/bin/bash /opt/{{ podservice_identifier }}/start.sh
User={{ podservice_identifier }}
Group={{ podservice_identifier }}
Restart=always
StandardOutput=syslog
SyslogIdentifier={{ podservice_identifier }}

[Install]
WantedBy=default.target
