# ansible-podservice - An ansible role to deploy a container
#                      using systemd and podman
#
# Copyright (C) 2018 Jan Christian Grünhage <jan.christian@gruenhage.xyz>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.


#!/usr/bin/env bash
podman rm -f {{ podservice_identifier }} || true;
exec /usr/bin/podman run \
  --name {{ podservice_identifier }} \
{% for vol_host, vol_container in podservice_container_vols.items() %}
  --volume {{ vol_host }}:{{ vol_container }}:Z \
{% endfor %}
{% for var_name, var_content in podservice_container_env.items() %}
  --env {{ var_name }}={{ var_content }} \
{% endfor %}
{% for port_host, port_container in podservice_container_ports.items() %}
  --publish {{ port_host }}:{{ port_container }} \
{% endfor %}
  --net {{ podservice_container_net }} \
  --rm \
  {{ podservice_container_image_tag }}
